Source: ros-lyrical-type-description-interfaces
Section: misc
Priority: optional
Maintainer: "William Woodall" <william@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-lyrical-ament-cmake, ros-lyrical-ament-lint-auto <!nocheck>, ros-lyrical-ament-lint-common <!nocheck>, ros-lyrical-rosidl-core-generators, ros-lyrical-service-msgs, ros-lyrical-ros-workspace, ros-lyrical-rosidl-typesupport-fastrtps-c, ros-lyrical-rosidl-typesupport-fastrtps-cpp
Homepage: https://index.ros.org/p/type_description_interfaces/#lyrical
Standards-Version: 3.9.2

Package: ros-lyrical-type-description-interfaces
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-lyrical-rosidl-core-runtime, ros-lyrical-service-msgs, ros-lyrical-ros-workspace
Description: A package containing message and service definitions for describing and communicating descriptions of other types.
